---
layout: nav
title: Picture of the month
code: potm
---
<style>
    .potm img {
        width: 80%;
        margin: auto;
        display: block;
    }
    h4 {
        text-align: center;
        display: block;
    }
</style>
<div class="potm">
    <p>Some months have bonus pictures. Click a month's picture to access its bonus page, if it exists!</p>
    <hr style="height: 2.5px; margin-top: 25px">
    {% for entry in site.data.potm/potm-table-2022 %}
        <h4>{{ entry.date }}</h4>
        {% if entry.link %}
            <a href="{{ entry.link }}">
        {% endif %}

        {% if entry.date == "November 2022" %}
            <img src="/assets/img/potm/{{ entry.path }}" style="width: 60%;">
        {% else %}
            <img src="/assets/img/potm/{{ entry.path }}">
        {% endif %}
        
        {% if entry.link %}
            </a>
        {% endif %}
        <!-- TODO: add caption right here -->
        <hr>
    {% endfor %}
</div>

<a class="hide-link see-more" href="../2021">See more pictures&hellip;</a>
