---
layout: nav
title: Picture of the month
code: potm
---
<div class="potm">
    {% for entry in site.data.potm/potm-table-2022 %}
        <h4>{{ entry.date }}</h4>
        {% if entry.link %}
            <a href="{{ entry.link }}">
        {% endif %}

        {% if entry.date == "November 2022" %}
            <img src="/assets/img/potm/{{ entry.path }}" style="width: 60%;">
        {% else %}
            <img src="/assets/img/potm/{{ entry.path }}">
        {% endif %}
        
        {% if entry.link %}
            </a>
        {% endif %}
        <!-- TODO: add caption right here -->
        <hr>
    {% endfor %}
</div>

<a class="hide-link see-more" href="../2021">See more pictures&hellip;</a>
