p {
	font-family: "Georgia";
	margin-left: 75px;
	line-height: 1.25;
}

p a {
	text-decoration: none;
	font-size: 62px;
}

body {
	background-color: #fcfaf5;
}

p:first-child {
	margin-top: 59px;
}

p:first-child a {
	color: #ff8e83;
}

p:nth-child(2) a {
	color: #5fa2ff;
}
