body {
	background-color: #fcfaf5;
}

.home {
	opacity: 100%;
	width: 100px;
	height: 100px;
	border-style: solid;
	border-color: #000000;
	border-width: 5px;
	border-radius: 4px;
	margin: 30px;
}

td:nth-child(2) a:link {
	color: #e6675c;
}

td:nth-child(2) a:visited {
	color: #5c1546;
}

td:nth-child(3) a {
	text-decoration: none;
}

td {
	padding: 9px;
}

table {
	font-family: "Georgia";
	margin-left: 20px;
	line-height: 0.4;
	font-size: 14pt;
	margin-top: -1px;
}
