.main-text {
	font-family: "Georgia";
}

body {
	background-color: #fcfaf5;
}

.home {
	opacity: 100%;
	width: 100px;
	height: 100px;
	border-style: solid;
	border-color: #000000;
	border-width: 5px;
	border-radius: 4px;
	margin: 30px;
}

div.main-text {
	line-height: 0.4;
	font-size: 14pt;
	margin-left: 30px;
	margin-top: -1px;
}

div.main-text a:link {
	color: #e6675c;
}

div.main-text a:visited {
	color: #5c1546;
}

td {
	padding: 9px;
}

table {
	margin-left: -10px;
}
