/* Intended for many/most/all pages */

body {
	background-color: #fcfaf5;
	margin: 38px;
}

p,li {
	font-family: "Georgia";
	font-size: 16px;
}

h2 {
	font-family: "Georgia";
	font-weight: normal;
	font-size: 48px;
	line-height: 0.64;
}

h3 {
	font-family: "Georgia";
	font-weight: bold;
	font-size: 32px;
}

h4 {
	font-family: "Georgia";
	font-weight: normal;
	font-size: 24px;
}

li {
    line-height: 26px;
}

.home {
	width: 150px;
	float: left;
}

.home img {
	opacity: 100%;
	width: 100px;
	height: 100px;
	border-style: solid;
	border-color: #000000;
	border-width: 5px;
	border-radius: 4px;
}

.page-title {
	margin-left: 150px;
}

.blog-title {
    color: #a08ee8;
}

.potm-title {
	color: #4fb889;
}

.sotm-title {
    color: #f5c951;
}

.mvm-title {
	color: #ff8e83;
}

.bike-title {
	color: #5fa2ff;
}

#top-line {
    margin: 30px 0px 24px 0px;
    height: 3px;
    border: none;
}


/* 404 */

.p404 {
	font-family: "Georgia";
	text-align: center;
}

.p404 h2 {
	font-size: 96px;
	margin-top: 15%;
}

.p404 p {
	font-size: 18px;
	line-height: 1;
}


/* Titles on home page */

h1 {
	font-family: "Georgia";
	margin-left: 45px;
	line-height: 0.9;
	font-weight: normal;
	font-size: 62px;
}

h1 a {
	text-decoration: none;
}

.first-homepage-title {
	margin-top: 70px;
}


/* blog */

.blog hr {
    background-color: #a08ee8;
}

hr.mid-blog {
    background-color: #a08ee8;
    height: 2.5px;
    border: none;
    margin-top: 30px;
}

p.blog-header {
    font-style: italic;
    color: #777;
    margin-top: 6px;
    margin-bottom: 6px;
}

h3.blog-header {
    margin-bottom: 12px;
}

#date-line {
    border-bottom: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #999;
    display: inline-block;
    margin-top: -6px;
}

.footnote {
    font-family: Georgia, serif;
    font-size: 11px;
}


/* Picture of the month */

.potm hr {
	border: none;
	height: 2.5px;
	background-color: #4fb889;
	margin-top: 30px;
}

.potm img {
    width: 80%;
    margin: auto;
    display: block;
}

.potm h4 {
    text-align: center;
    display: block;
}

.bonus p {
    font-size: 18px;
}

.bonus .cat-in-bag {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.see-more {
    display: block;
    font-family: Georgia;
    text-align: center;
    font-size: 18px;
    color: #000;
    background-color: #ccc;
    border-radius: 20px;
    width: 200px;
    margin: 40px auto;
    padding: 12px;
    transition: 0.3s;
}

.see-more:hover {
    background-color: #4fb889;
    color: #fcfaf5;
}

a.hide-link {
    text-decoration: none;
}


/* sotm */

.sotm h3 {
    text-align: center;
}

.sotm hr {
    background-color: #f5c951;
    height: 2px;
    border: none;
}

.sotm hr.divider {
    margin: 20px 0px 50px 0px;
}

.the-sotm {
    background-color: #f5c951;
    border-radius: 20px;
    display: block;
    text-align: center;
    padding: 50px;
    margin: auto;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.the-art {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.the-info {
    margin-bottom: -20px;
}

.the-info p {
    font-family: "Century Schoolbook", Century, serif;
}

table.sotm-table {
    font-family: Georgia;
    margin: auto;
    margin-top: 40px;
}

table.sotm-table a {
    display: block;
}

table.sotm-table img {
    width: 50px;
}

table.sotm-table td {
    padding: 4px 8px;
    font-family: "Century Schoolbook", Georgia, serif;
}


/* Musical voice memos stuff */

.mvm-table {
	font-family: "Georgia";
	line-height: 0.4;
	font-size: 14pt;
	margin-left: -10px;
}

.mvm-table td {
	padding: 9px;
}

.mvm-table td:nth-child(2) a:link {
	color: #e6675c;
}

.mvm-table td:nth-child(2) a:visited {
	color: #5c1546;
}

.mvm-table td:nth-child(3) a {
	text-decoration: none;
}

.mvm hr {
    background-color: #ff8e83;
}


/* bike */

.bike p {
	margin-top: 20px;
	margin-bottom: 20px;
}

.bike hr {
	border: none;
	height: 3px;
	background-color: #5fa2ff;
}

.bike .embeds {
	display: flex;
	flex-wrap: wrap;
}

.bike iframe {
	width: 432px;
	height: 500px;
	margin: 10px;
	border: solid 3px #5fa2ff;
}
