/* Intended for many/most/all pages */

body {
	background-color: #fcfaf5;
	margin: 38px;
}

p {
	font-family: "Georgia";
	font-size: 16px;
}

.home {
	opacity: 100%;
	width: 100px;
	height: 100px;
	border-style: solid;
	border-color: #000000;
	border-width: 5px;
	border-radius: 4px;
	margin-bottom: 27px;
}

/* 404 */

.p404 {
	font-family: "Georgia";
	text-align: center;
}

.p404 h2 {
	font-size: 96px;
	margin-top: 15%;
}

.p404 p {
	font-size: 18px;
	line-height: 1;
}

/* Titles on home page */

h1 {
	font-family: "Georgia";
	margin-left: 45px;
	line-height: 0.9;
	font-weight: normal;
	font-size: 62px;
}

h1 a {
	text-decoration: none;
}

h1.first {
	margin-top: 70px;
}

h1.first a {
	color: #ff8e83;
}

h1.second a {
	color: #5fa2ff;
}

/* Musical voice memos stuff */

.mvm-table {
	font-family: "Georgia";
	line-height: 0.4;
	font-size: 14pt;
	margin-left: -10px;
}

.mvm-table td {
	padding: 9px;
}

.mvm-table td:nth-child(2) a:link {
	color: #e6675c;
}

.mvm-table td:nth-child(2) a:visited {
	color: #5c1546;
}

.mvm-table td:nth-child(3) a {
	text-decoration: none;
}

/* bike */

.bike p {
	margin-top: 20px;
	margin-bottom: 20px;
}

.bike hr {
	border: none;
	height: 1px;
	background-color: #e6675c;
}

.bike hr:first-child {
	margin-top: 20px;
}

.bike .embeds {
	display: flex;
	flex-wrap: wrap;
}

.bike iframe {
	width: 432px;
	height: 500px;
	margin: 10px;
	border: solid 2px #5fa2ff;
}
